<template name="modal">
    <div id="createModal" class="modal hide fade">
        <div class="modal-header">
            <h3 class="text-center">Please Create Your Room</h3>
        </div>
        <div class="modal-body">
            <form id="createRoomForm" class="form-horizontal">
                <fieldset>
                    <input class="input-block-level" name="roomname" type="text" value="" placeholder="Enter in your room name"/>
                    <input name="contentURL" class="input-block-level" type="text" value="" placeholder="Enter in the URL of the Content"/>
                    <button class="btn btn-warning pull-right" type="submit" value="Submit">Create Room</button>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <div id="alertBox"></div>
        </div>
    </div>
    <div id="joinModal" class="modal hide fade">
        <div class="modal-header">
            <h3>Please enter your Room Join ID</h3>
        </div>
        <div  class="modal-body">
            <form id="joinRoomForm" class="form-horizontal">
                <input name="joinID" class="span4" type="text" value="" placeholder="Enter in your join room id"/>
                <button class="btn btn-warning pull-right" type="submit" value="Submit">Join Room</button></span>
            </form>
        </div>
        <div class="modal-footer id="alertBox"></div>
    </div>
</template>