
   <template name="comingSoon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="comingsoon.css" rel="stylesheet"/>
<!-- Bootstrap style responsive -->
<div class="wrapper">
	<div class="comingsoonBlk">
	<h1>Coming soon!</h1>
	<p>We are pleased to anounced that our product is launching very soon.<br>
	We are working very hard to get ready it.
	</p>
	<div class="socialMedia">
		<a href="https://www.facebook.com/pages/Codeloft/1414070578809366" data-placement="top" data-original-title="Follow us on via facebook"><img style="width:45px" src="img/facebook.png" alt="facebook" title="facebook"></a>
		<a href="https://twitter.com/thebitloft" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px" src="img/twitter.png" alt="twitter" title="twitter"></a>
		<a href="https://github.com/BitLoft" data-placement="top" data-original-title="Fork us on github!"><img style="width:45px" src="img/github.png" alt="github" title="github"></a>
		<a href="http://meteorftw.tumblr.com/" data-placement="top" data-original-title="Follow our tumblog!"><img style="width:45px" src="img/thumblr.png" alt="tumblr" title="tumblr"></a>
	</div>
		<form>
			<span class="email"><input type="email" placeholder="Your email address"></span>
			<span class="subscribe"><button class="btn btn-warning pull-right" type="submit">SAVE</button></span>
		</form>
		<br class="clr">
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class = "row-fluid">
    <div class="span6 offset4">

<a href="#"><img src="img/bitLoftLogo.png" class="img-circle"></a>
<a href="#"><img src="img/chattrbxLogo120.png"class="img-circle"></a>
<a href="#"><img src="img/opensourceicon120.png" class="img-circle"></a> <br>


</div>
</div>
</template>

