<template name="toolbar">
    <div class="btn-group pull-left">
        <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> Tools</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-trash"></i> Close Room</a></li>
            <li><a href="#"><i class="icon-share-alt"></i> Export Chat</a></li>
             <li><a href="{{testingCreationPath}}"><i class="icon-pencil"></i> Create New Room</a></li>

            <li class="divider"></li>
            <li><a href="#"><i class="icon-arrow-up"></i> Make admin</a></li>
            <li><a href="#"><i class="icon-ban-circle"></i> Ban User</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-eye-open"></i> Make Public</a></li>
            <li><a href="#"><i class="icon-eye-close"></i> Make Private</a></li>





        </ul>
</template>