<template name="joinRoom">


    <div class="row">
        <div class="span4 offset4">
            <legend>Please enter your Room Join ID</legend>
            <form class="main">
                <input name="joinID" type="text" value="" placeholder="Enter in your join room id"/>
                <button class="btn btn-warning pull-right" type="submit" value="Submit">Join Room</button></span>
            </form>
            <div id="alertBox"></div>
        </div>
    </div>
    </div>


</template>