<template name="room">
    <div  class="container-fluid well">
            <div class="nav-collapse collapse pull-right">
                    {{#if currentUser}}
                    <ul>{{> toolbar}}</ul>
                    {{/if}}
                    </div>
        <div class="span4">


<div style="height:500px;width:230px;border:1px solid #ccc;overflow:auto;background-color:#FFFFFF;">
                    {{#each messages}}
                        {{> message}}
                    {{/each}}    
 
</div>
<br>
 {{> submitMessage}}
                

                    
       
         </div>
        <div class="span8"id="contentContainer">
            {{> contentArea}}
        </div>
</div>
</template>