<template name="room">
    <div  class="container-fluid well">
            <div class="nav-collapse collapse pull-right">
                    {{#if currentUser}}
                    <ul>{{> toolbar}}</ul>
                    {{/if}}
                    </div>
        <div class="span4">
                <div style="overflow:auto;">

                    {{#each messages}}
                        {{> message}}
                    {{/each}}
                    {{> submitMessage}}
         </div>
         </div>
        <div class="span8"id="contentContainer">
            {{> contentArea}}
        </div>
</div>
</template>